html,
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 164, 70, 1) 91%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 4%, rgba(148, 233, 222, 1) 75%);
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;

}

.container .box {
    width: 100%;
    display: flex;
}

.box div {
    width: 100%;
}

select {
    width: 95%;
    height: 30px;
    color: black;
    margin: 2px;
    border-radius: 10px;
}


input {
    width: 90%;
    height: 30px;
    margin: 2px;
    border-radius: 10px;

}

.btn {
    display: flex;
    justify-content: center;
}

button {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    margin: 50px;

}